<!-- File: chapter5/log-example.html -->
<html ng-app="notesApp">
<body>

	<div ng-controller="MainCtrl as mainCtrl">
	 <h1>Mash Music Services!</h1>
	 <input type="text" ng-model="id" value="Submit form">
	 <div ng-model="title">{{source}} - {{title}} - {{from}}</div>

	<!-- LOAD SCFRAME  !!! -->
     <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/users/1539950/favorites" scrolling="no" frameborder="no" style="float: left" width = "480px">
     </iframe>
     <!-- LOAD SCFRAME  !!! -->

	 <div id="player">span</div>
	 <br>
	 <br>
	<div>
	 <button ng-click="mainCtrl.logAll()">Log todos</button>
	 <button ng-click="mainCtrl.logView()">Log view "data"</button>
	 <button ng-click="mainCtrl.playSomething()">Playsomething</button>
	 <button ng-click="mainCtrl.logWidget()">logSC</button>
	</div>

	<input type="text" ng-model="searchText"> <hr>    
	    Filtered list has {{data.length}} items
	    <li ng-repeat="todo in data = (todos | filter:searchText)"
	    	 id="{{todo.link}}"
	    	 ng-click ="clicked($event.target.innerText)">
	      <div id= "tracklist" data= "{{todo}}" ng-click="test2($index)">
	      		{{todo.source}} -
	      		{{todo.title}} - 
	      	<em>{{todo.from}}</em>
	      </div>
	    </li>
 	</div>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
	</script>


<script src="main.js">
	</script>
</body>
</html>